@import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Imprima", sans-serif;
  font-size: 10px;
}
.app {
  background-color: #000000dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
}
