footer {
  background-color: #000000;
  color: #fff;
  border-top: 3px solid #ffa500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 4rem;
}
.footer-content {
  font-size: 2rem;
}

a {
  color: #ffa500;
  text-decoration: none;
  font-size: 2rem;
}
