header {
  background-color: black;
  color: white;
  flex: 0 0 7rem;
  display: flex;
  align-items: center;
  border-bottom: 3px solid orange;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  padding-left: 24px;
}
