.side-bar {
  background-color: #000000ee;
  color: #fff;
  width: 24%;
  margin: 20px;
  border-right: 2px solid orange;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background: linear-gradient(112deg, #000 20%, #ffa500 300%);
  border: 2px solid #ffa500;
  border-radius: 20px;
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
